{% extends 'base.html' %}
{% load mvtester_tags %}
{% block title %}Register for AppCray-Z{% endblock %}
{% block body %}
    <div class="container">
    Sign up now to get started.  After we get some info about you, you can get started on your own
    app profile.  We'll walk you through the steps to get you started ASAP.
    <form method="post">
    {% treat_visitor registration-form control-registration registered True %}
    {% if form.non_field_errors %}
        <div class="help-block">{{ form.non_field.errors }}</div>
    {% endif %}
    {% for field in form %}
    <div class="clearfix {% if field.errors %}error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="input">
            {{ field }}
            <span class="help-inline">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endfor %}
    <div class="input"><input class="btn primary" type="submit" value="register"/></div>
    </form>
    </div>
{% endblock %}