{% load i18n adminmedia admin_modify %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
    <table>
    <thead><tr>
     <th>Treatment</th>
     <th>Number Treated</th>
     <th>Number Converted</th>
     <th>Converstion Rate</th>
     <th>Z-Score</th>
    </tr></thead>
    {% for goalstats in adminform.form.instance.goalstats_set.all %}
        <tr><td>{{ goalstats.treatment.name }}</td>
        <td>{{ goalstats.treatment.visitors_treated }}</td>
        <td>{{ goalstats.value }}</td>
        <td>{{ goalstats.rate|floatformat:2 }}</td>
        <td>{{ goalstats.z_score|floatformat:2 }}</td></tr>
    {% endfor %}
    <caption>Current winner is {{ adminform.form.instance.get_winner.name }}</caption>
    </table>
</div>
