<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{% url home %}">AppCray-Z</a>
          <ul class="nav">
            <li class="active"><a href="{% url home %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Mentors</a></li>
            <li><a href="#">Success Stories</a></li>
              <li><a href="/admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
{% block body %}
{% endblock %}
</body>
</html>